<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>technologypark</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta th:replace="common/header">
</head>
<body class="hold-transition hao-login-body">
<div class="login-box">
    <div class="login-logo">
        <a href="#"><b>Technology Park</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg"></p>
        <form class="">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="手机号/用户名/邮箱">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="密码">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group">
                <input type="text" id="verifyCode" class="verifyCode"
                       placeholder="输入识别码">
                <div class="verifyCodeImg topfit-ub-click" data-ub-control="验证码">
                    <img id="imgCode" src="/japi/verify_code?width=180&height=50&type=4"
                         title="点击切换验证码" />
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-xs-8 mt10">
                <div class="checkbox icheck">
                    <label>
                        <input type="checkbox"><span class="h5" style="margin-top: 0px">&nbsp;记住密码</span>
                    </label>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-xs-4 mt10">
                <button type="submit" class="btn btn-primary btn-block btn-flat">登陆</button>
            </div>
            <!-- /.col -->
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-7 text-right">
                <a href="#">忘记密码</a>&nbsp;
                <a href="/technology/register" class="text-center">注册</a>
            </div>
        </div>
        <!-- /.social-auth-links -->
        <div class="row">
            <div class="col-md-12">其他方式登陆：
                <a class="btn btn-social-icon"><i class="fa fa-weixin"></i></a>
                <a class="btn btn-social-icon"><i class="fa fa-qq"></i></a>
                <a class="btn btn-social-icon "><i class="fa fa-weibo"></i></a>
            </div>
        </div>
    </div>
    <!-- /.login-box-body -->
</div>
<script>
    $(function () {
        $('#imgCode').click(function(){
            $("#imgCode").attr("src", "/japi/verify_code?width=180&height=50&type=4&" + Date.parse(new Date()));
        })

        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' /* optional */
        });


    });
</script>
</body>
</html>
