<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>注册</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <meta th:replace="common/header">
</head>
<body class="hold-transition hao-login-body">
<div class="register-box">
  <div class="login-logo">
    <a href="#"><b>Technology Park</b></a>
  </div>

  <div class="register-box-body">
    <form class="form-horizontal">
      <div class="form-group js-userName">
        <div class="col-sm-9 ">
          <input type="text" class="form-control" maxlength="12" minlength="6" name="userName"
                 placeholder="6-12位字母或数字">
          <span class="zh-help-block none"></span>
        </div>
        <div class="col-sm-3">
          <label class="control-label text-justify">用户名</label>
        </div>
      </div>
      <div class="form-group js-password">
        <div class="col-sm-9">
          <input type="password" class="form-control" maxlength="12" minlength="6" name="password"
                 placeholder="6-12位字母或数字,首位为字母">
          <span class="zh-help-block none"></span>
        </div>
        <div class="col-sm-3">
          <label class=" control-label text-justify">密码</label>
        </div>
      </div>
      <div class="form-group js-confirmPassword">
        <div class="col-sm-9">
          <input type="password" class="form-control" maxlength="12" minlength="6" name="confirmPassword"
                 placeholder="确认密码">
          <span class="zh-help-block none"></span>
        </div>
        <div class="col-sm-3">
          <label class=" control-label ">确认密码</label>
        </div>
      </div>
      <div class="form-group js-phone">
        <div class="col-sm-9">
          <input type="password" class="form-control" name="phone" placeholder="手机号">
          <span class="zh-help-block none"></span>
        </div>
        <div class="col-sm-3">
          <label class=" control-label">手机号</label>
        </div>
      </div>
      <div class="form-group js-email">
        <div class="col-sm-9">
          <input type="password" class="form-control" name="email" placeholder="邮箱">
          <span class="zh-help-block none"></span>
        </div>
        <div class="col-sm-3">
          <label class=" control-label ">邮箱</label>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8">
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="button" class="btn btn-primary btn-block btn-flat js-register">注册</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
    <a href="/technology/index" class="text-center">已注册账号，去登陆</a>
  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->
<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' /* optional */
    });

    $('input').on('click', function () {
      var _parent = $(this).parents('.form-group');
      if (_parent.hasClass('has-warning')) {
        _parent.removeClass('has-warning');
        _parent.find('.zh-help-block').hide();
      }

    });

    $('.js-register').on('click', function () {
      loginIn();
    })

    function loginIn() {
      var userName = $('input[name="userName"]').val();
      if (!userName) {
        $('.js-userName').addClass('has-warning').find('.zh-help-block').html('用户名不能为空').show();
        return false;
      }
      var password = $('input[name="password"]').val();
      if (!password) {
        $('.js-password').addClass('has-warning').find('.zh-help-block').html('密码不能为空').show();
        return false;
      }
      var confirmPassword = $('input[name="confirmPassword"]').val();
      if (!confirmPassword) {
        $('.js-confirmPassword').addClass('has-warning').find('.zh-help-block').html('密码不能为空').show();
        return false;
      }
      if (password != confirmPassword) {
        $('.js-confirmPassword').addClass('has-warning').find('.zh-help-block').html('密码不一致').show();
      }
      var phone = $('input[name="phone"]').val();
      if (!phone) {
        $('.js-phone').addClass('has-warning').find('.zh-help-block').html('手机号不能为空').show();
        return false;
      }
      var email = $('input[name="email"]').val();
      if (!email) {
        $('.js-email').addClass('has-warning').find('.zh-help-block').html('邮箱不能为空').show();
        return false;
      }
      var data={
        userName:userName,
        password:password,
        phone:phone,
        email:email
      }
      Ajax.post('',data,function(){

      },function(){

      })
    }


  });
</script>
</body>
</html>
